<MudIconButton OnClick="@ToggleOpen" Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit"></MudIconButton>

<MudPopover Open="@_isOpen" Fixed="false" TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomLeft" Class="px-4 pt-4">
    <div class="d-flex flex-column">
        <Settings />
    </div>
</MudPopover>

@code
{
    private bool _isOpen;

    public void ToggleOpen()
    {
        _isOpen = !_isOpen;
    }
}