@inject IJSRuntime JsRuntime

<div class="topbar">
    <div class="topbar-left">
        <a asp-action="Index" class="logo"><span>جواهری فانی</span><i class="zmdi zmdi-layers"></i></a>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button class="button-menu-mobile" @onclick="ToggleMenu">
                        <i class="zmdi zmdi-menu"></i>
                    </button>
                </li>
                
            </ul>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public EventCallback ToggleMenu { get; set; }
}
